{% extends "base.html" %}
{% block title %}EditCategory{% endblock %}

{% block content %}
<h1>New Category</h1>
    <form action="{{ url_for('edit_category', cat_id=category.id) }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }}<br>
            {{ form.name(width=30) }}<br>
        </div>
        <button type="button" onclick="location.href='{{ url_for('category_list', cat_id=category.id) }}'; return false">Cancel</button>
        {{ form.submit }}<br>
    </form>
{% endblock %}
