<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login - Catalog</title>
  <meta name="description" content="Fullstack Nanodegree Catalog Project">
  <meta name="author" content="Jun Clemente">

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-con">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-con">

  {# Custom Fonts | Google #}
  <link href="https://fonts.googleapis.com/css?family=Dhurjati|Lato" rel="stylesheet">

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=start"> </script>
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body class="login">
  <div class="login-window login-body width80">
  <h1>FSND Catalog Login</h1>
  {% include "error_flash.html" %}
  <h2>Login</h2>
  <!-- Google Sign-In Button -->
  <div id="signinButtn">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="549914986858-7fach2tdba8u1cqb0if34ceea88r6a63.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
  <div id="result"></div>
  <a href="{{ url_for('index') }}">Cancel</a>

<script>
  function signInCallback(authResult){
    if (authResult['code']) {
      // Hide the sign-in button once user is authorized
      $('#signinButton').attr('style', 'display: none');

      // Send one-time-use code to server
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result){
          // Handle/Verify the server response
          if (result) {
            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href="{{ url_for('index') }}";
            }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call.Check your configuration and console.');
          }
        }
      });
    }
  }
</script>
  </div>
</body>

