{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<h2>{{ category.name }} - {{ items | length }}
        {% if items|length == 1 %}
            Item
        {% else %}
            Items
        {% endif %}
</h2>
    <h3>Items:</h3>
    <p><a href="{{ url_for('add_item', cat_id=category.id) }}">Add Item</a></p>
    {% if items %}
        <ul>
            {% for item in items %}
            <li><a href="{{ url_for('item', item_id=item.id) }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no items in this category.</p>
    {% endif %}
{% endblock %}
